.root {
  display: flex;
  align-items: center;
  user-select: none;

  .substrate {
    width: 30vw;
    max-width: 390px;
    height: 619px;
    min-width: 120px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 100px;
      cursor: pointer;
    }

    img {
      width: 210px;
      height: 458px;
    }

    &.about1 {
      .close {
        left: 100px;
      }
    }

    &.about2 {
      .close {
        right: -50px;
      }
    }
  }

  .content {
    display: grid;
    max-width: 720px;
    height: 698px;
    background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
    box-shadow: 0 50px 75px -25px #48AE4B;
    border-radius: 18px;
    z-index: 10;
    position: absolute;
    left: 22%;
    padding: 40px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 15px;
  }

  &.about2 {
    justify-content: flex-end;

    .content {
      left: 0;
    }
  }

  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-radius: 18px;
    width: 311px;
    height: 196px;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(180deg, #8BB928 0%, #45AE4C 100%);
      box-shadow: 0 10px 40px #45AE4D;border-radius: 50%;
      width: 126px;
      height: 126px;
    }

    h2 {
      width: 130px;
    }
  }

  .close {
    display: none;
  }

  @media (max-width: 1024px) {
    transform: scale(0.8);
  }

  @media (max-width: 860px) {
    transform: scale(0.7);
    .substrate {
      &.about1 {
        svg {
          left: 50px;
        }

        img {
          width: 178px;
          height: 426px;
        }
      }

    }
  }

  @media (max-width: 768px) {
    transform: scale(0.6);
  }
  
  @media (max-width: 624px) {
    transform: scale(1);
    height: 100vh;
    width: 100vw;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 0;
      width: 100vw;
      height: 100vh;
      max-width: none;
    }
    .substrate {
      display: none;
    }
    .close {
      width: 100%;
      display: flex;
      justify-content: center;
      background: #fff;
      & > .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}