.root {
  background-image: url("./assets/bg.png");
  width: 960px;
  height: 408px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    display: flex;
    width: 40%;
    h1 {
      padding-top: 10px;
    }
  }

  .content {
    margin: 0 0 46px 46px;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #2E3134;
  }
}