.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.9vw;
  max-width: 390px;
  max-height: 619px;
  min-height: 200px;
  min-width: 120px;
  span {
    margin-top: 15px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #747474;
    cursor: pointer;
  }
  .button {
    display: flex;
    width: 100%;
    height: 36.4vw;
    max-height: 619px;
    min-height: 200px;
    min-width: 120px;
    background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
    box-shadow: 0 50px 75px -25px #48AE4B;
    border-radius: 18px;
    cursor: pointer;
    & img {
      width: 53.8%;
      height: 30vw;
      max-height: 458px;
      max-width: 210px;
      min-width: 50px;
      min-height: 130px;
      margin: auto;
    }
  }
}

